{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-end mt-4">
        <div class="col-sm-2">
            <a class="btn btn-success" href="/articles/create">Create</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            {% for article in articles %}
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">{{article.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Created by:
                            <a href="/account/{{article.author.username}}/details" target="_blank">
                                {{article.author.username}}
                            </a>
                            at {{article.created_at}}
                        </h6>
                        <p class="card-text">{{article.description}}</p>
                        <p>
                            <a href="/articles/{{article.id}}">Read more...</a>
                        </p>
                        {% if request.user.id == article.author.id %}
                            <p>
                                <div class="actionElement">
                                    <a class="btn btn-warning" href="/articles/{{article.id}}/edit">Edit</a>
                                </div>
                                <div class="actionElement">
                                    <form action="/articles/{{article.id}}/delete" method="POST">
                                        {% csrf_token %}
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
            {% include 'pagination.html' with data=articles url='/articles' %}
        </div>
    </div>
{% endblock %}