{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-end mt-4">
        <div class="col-sm-2">
            <a class="btn btn-primary" href="/articles">Back</a>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Created by
                        <a href="/account/{{article.author.username}}/details" target="_blank">
                            {{article.author.username}}
                        </a>
                        at {{article.created_at}}
                    </h6>
                    <p class="card-text">{{article.description}}</p>
                    <p class="mt-5">
                        {% autoescape off %}
                            {{article.content}}
                        {% endautoescape %}
                    </p>
                    <div class="mt-4">
                        {% csrf_token %}
                        {% if was_liked %}
                            <button data-url="/articles/{{article.id}}/like" class="btn btn-danger likeBtn">
                                <span class="likeAction">Dislike</span>
                                <span class="likeCount"></span>
                            </button>
                        {% else %}
                            <button data-url="/articles/{{article.id}}/like" class="btn btn-success likeBtn">
                                <span class="likeAction">Like</span>
                                <span class="likeCount"></span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}