{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
    <div class="row justify-content-end mt-4">
        <div class="col-sm-2">
            <a class="btn btn-primary" href="/articles">Back</a>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Created by
                        <a href="/account/{{article.author.username}}/details" target="_blank">
                            {{article.author.username}}
                        </a>
                        at {{article.created_at}}
                    </h6>
                    <p class="card-text">{{article.description}}</p>
                    <p class="mt-5">
                        {% autoescape off %}
                            {{article.content}}
                        {% endautoescape %}
                    </p>
                    <div class="mt-4">
                        {% if was_liked %}
                            <button data-url="/articles/{{article.id}}/like" class="btn btn-danger likeBtn">
                                <span class="likeAction">Dislike</span>
                                <span class="likeCount">{{likes_count}}</span>
                            </button>
                        {% else %}
                            <button data-url="/articles/{{article.id}}/like" class="btn btn-success likeBtn">
                                <span class="likeAction">Like</span>
                                <span class="likeCount">{{likes_count}}</span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCommentModal">
                    Create a comment
                </button>

                <div class="modal fade" id="createCommentModal" tabindex="-1"
                     role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content createCommentFormWrapper">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Create a comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" class="commentCreateForm"
                                      action="/articles/{{article.id}}/comments">
                                    <div class="form-group">
                                        <label for="{{comments_form.content.id_for_label}}">Content</label>
                                        <textarea class="form-control"
                                                  name="{{comments_form.content.name}}"
                                                  id="{{comments_form.content.auto_id}}">
                                        </textarea>
                                    </div>
                                    <input type="submit" value="Save" class="btn btn-success">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( 'textarea' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
{% endblock %}